.header {
    text-align: center;
    font-style: italic;
}
.wrapper_main {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 3rem;
    background-image: url("https://themarketplace.com.ph/default/easy-as-pie/latest-post-bg.jpg");
}
li > .btnInInstruction {
    font-style: normal;
    margin: 0 20px;
}